<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194995490724-rnjvalku9i8aqsnbij00v519gnr1lsnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194995490724-rnjvalku9i8aqsnbij00v519gnr1lsnd</string>
	<key>API_KEY</key>
	<string>AIzaSyAFsOj33ghAWsrNjcyAGxK5l26o5rXG9gw</string>
	<key>GCM_SENDER_ID</key>
	<string>194995490724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>minmon.ChatBoard</string>
	<key>PROJECT_ID</key>
	<string>community-da815</string>
	<key>STORAGE_BUCKET</key>
	<string>community-da815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194995490724:ios:3bb56396238e7b8d79fb31</string>
</dict>
</plist>